.e-3-units-wrapper-top {
    height: 155px;
    width: 155px;
    border-radius: 12px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        transition: 0.7s;
        &:hover {
            transform: scale(1.2);
        }
    }
}
.e-3-units-wrapper-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: $gray;
        padding: 16px 0 0;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;        
    }
    strong {
        color: $lightGray;
        padding: 8px 0 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
}
.e-3-units-wrapper-bottom {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    padding: 25px 0 0;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        padding: 14px 0 17px;
        background: $lightGray--bg;
        border-radius: 12px;
        transition: 0.3s;
        &:hover {
            transform: scale(0.95);
        }
    }
    h3 {
        color: $gray;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }
    strong {
        padding: 4px 0 0;
        color: $gray4;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
}
.w-gallery {
    width: 100%;
    padding: 65px 0 0;
    display: grid;
    grid-template: 1fr 1fr 1fr / auto auto auto ;
    gap: 30px;
    .w-gallery-elements:nth-child(1){
        transition: 0.5s  1.5s;
    }
    .w-gallery-elements:nth-child(2) {
        grid-column: 2 / 4;
        grid-row: 1 / 1;
        padding: 0 ;
        transition: 0.5s  2s;
    }
    .w-gallery-elements:nth-child(3) {
        grid-column: 1 / 3;
        padding: 0 ;
        transition: 0.5s  2.5s;
        grid-row: 2 / 3;
    }
    .w-gallery-elements:nth-child(4) {
        grid-column: 3 / 4;
        padding: 0 ;
        grid-row: 2 / 4;
        transition: 0.5s  3s;
    }
    .w-gallery-elements:nth-child(5){
        transition: 0.5s  3.5s;
    }
    .w-gallery-elements:nth-child(6){
        transition: 0.5s 4s;
    }
    .w-gallery-elements {
        opacity: 0;
        transform: scale(1.5);
        
    }
    &.is-active {
        .w-gallery-elements {
            opacity: 1;
            transform: scale(1);
        }
    }
}
.w-gallery-elements {
    border-radius: 12px;
    width: 100%;
    padding: 0 0 100%;
    position: relative;
    overflow: hidden;
    box-shadow: rgba($gray--img-bg, 0.25) 0px 10px 10px 5px;
    
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        transition:1s 0s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    opacity: 1;
    transition: 1s 2s ease-in;
    background: #fff;
    &.load {
        opacity: 0;
        .w-gallery-loader {
            &::after {
                animation: loader--finish 1s 1;
            }
        }
    }
}
.w-gallery-loader {
    width: 25%;
    display: grid;
    grid-template: 1fr 1fr 1fr / auto auto auto ;
    gap: 10px;
    position: relative;
    div:nth-child(2) {
        grid-column: 2 / 4;
        grid-row: 1 / 1;
        padding: 0 ;
        &::after {
            animation: loaderImg 2s infinite ;
        }
    }
    div:nth-child(3) {
        grid-column: 1 / 3;
        padding: 0 ;
        grid-row: 2 / 3;
        &::after {
            animation: loaderImg 2s infinite ;
        }
    }
    div:nth-child(4) {
        grid-column: 3 / 4;
        padding: 0 ;
        grid-row: 2 / 4;
    }
    div {
        position: relative;
        border-radius: 12px;
        width: 100%;
        padding: 0 0 100%;
        background: rgba(#fff, 0.5);
        box-shadow: rgba($gray--img-bg, 0.25) 0px 10px 10px 5px; 
        overflow: hidden;
        &::after {
            content: '';
            height: 100%;
            width: 20px;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba($gray, 0.1);
            animation: loaderImg 1s infinite ;
            filter: blur(25px);
        }

    }
    &::after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -40px;
        background: rgba($gray, 0.25);
        transform-origin: center center;
        animation: loader 2s 1;
    }
}
@keyframes loaderImg {
    0% {
        left: 0;
        opacity: 1;
    }
    99% {
        left: 100%;
    }
    100% {
        opacity: 0;
        left: 0;
    }
    
}
@keyframes loader {
    0% {
        transform: scaleX(0);
    }
    75% {
        transform: scaleX(0.5);
    }
    99% {
        transform: scaleX(0.75);
    }
}
@keyframes loader--finish {
    0% {
        transform: scaleX(0.75);
    }
    99% {
        transform: scaleX(1);
    }
}